.container {
    margin:  0 auto; 
    border: 1px solid #e2e8f0; 
    padding: 20px 10px; 
    border-radius: 12px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 50%; 
    gap: 10px;
}

@media (max-width: 640px)  {
    .container {
        width: 100%;
    } 
}
