<div class="footer-container">
    <div class="footer-disclaimer">
        <p>Ao adquirir o Agromania a Sorte você colabora com a Associação de Deficientes Visuais de Irecê e Região - ADEVIR., ajudando na assistência as pessoas portadoras de deficiência visual, e ainda, concorre a valiosos prêmios. Os bens oferecidos como prêmio são meramente ilustrativos. O BILHETE</p>
        <p>PREMIÁVEL AGROMANIA DA SORTE, é uma promoção aprovada pela SEAE/ME. Antes de contratar, consulte previamente o Regulamento/Condições Gerais.</p>
    </div>
    
    <div class="footer-contact">
        <p class="footer-contact-line">(74) 3641-5242 | contato&#64;agromaniacap.com.br</p>
        <p class="footer-contact-line">Avenida Tertuliano Cambui, nº 357 C - Centro, Irece - BA</p>
    </div>
</div>

