<p-panel>
    <div class="lnd-flexbox-beetwen-full">
        <div class="lnd-flexbox-full">
            <div>
                <img src="images/Agromania-logo.png" alt="logo" class="lnd-logo">
            </div>
            <div class="lnd-content">
                <h2 class="lnd-titulo-upper">Agromania da Sorte</h2>
                <span class="lnd-subtitulo">Bilhete - Quinta Premiada</span>
            </div>
        </div>
        <div class="lnd-rodape-header">
            
            <a routerLink="/resultado" pButton type="button" style="text-decoration: none;" label="Resultado"></a>
            
            <a routerLink="/" pButton type="button" style="text-decoration: none;" label="Consulta"></a>
            
        </div>
    </div>
</p-panel>