<p-panel>
    <div class="lnd-flexbox-beetwen-full">
        <div class="lnd-flexbox-full">
            <div>
                <img src="images/Agromania-logo.png" alt="logo" class="lnd-logo">
            </div>
            <div class="lnd-content">
                <h2 class="lnd-titulo-upper">Agromania da Sorte</h2>
                <span class="lnd-subtitulo">Adquira aqui seu Bilhete</span>
            </div>
        </div>
        <div class="lnd-rodape-header">
            <p-button label="Comprar"/>
        </div>
    </div>
</p-panel>