<p-panel>
    <div class="container">
        @if (podeComprar) {
            <h3 style="text-align: center; margin-bottom: 20px;">Comprador: {{nomeComprador}}</h3>
            <div class="grid">
                @for (titulo of tituloComprar; track titulo.numeroTitulo) {
                    <div style="border: 1px solid #ccc; border-radius: 8px; padding: 10px; margin: 5px">
                        <input type="checkbox" [value]="titulo.numeroTitulo" />
                        @for(dezena of titulo.combinacoesLista; track dezena; let i = $index) {
                            <h4 style="text-align: center;">Bilhete: {{titulo.titulosLista[i]}}</h4>
                            <div class="col-12 md:col-6 lg:col-4">
                                <div class="card">
                                    <div class="card-inner" style="width: 100%;">
                                        <div class="col-12 md:col-6 lg:col-4">
                                            <div style="width: 250px; margin: 10px auto; text-align: center; border: 1px solid #ccc; border-radius: 8px; padding: 10px;"
                                                >
                                                <div class="dezenas-grid">
                                                    @for (d of titulo.combinacoesLista[i]; track $index) {
                                                        <div class="dezena-circle" >{{ d }}</div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                
                <!-- Botão de comprar -->
                <div class="col-12 text-center">
                    <p-button label="Comprar" />
                </div>
            </div>
        }
    </div>
</p-panel>


<p-dialog [modal]="true" [(visible)]="visible" closeOnEscape="false" closable="false" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template #header>
        <h3>Informe o CPF para Comprar</h3>
    </ng-template>
        <div class="grid">
            @if (!precisaCadastrar) {
                <div class="col-12">
                    <label for="cpf"  title="Obrigatório" pTooltip="Obrigatório">CPF  <span style="color: red" >*</span></label>
                    <p-inputmask 
                        id="cpf" 
                        mask="999.999.999-99" 
                        placeholder="999.999.999-99" 
                        [style]="{width: '100%'}" 
                        [(ngModel)]="documento"
                    ></p-inputmask>
                </div>
                <div class="col-12 text-center">
                    <p-button label="Entrar" (click)="entrar()" />
                </div>
            }
            @if (precisaCadastrar) {
                <form [formGroup]="myForm" class="grid">
                    <div class="col-12" style="margin-top: 20px;">
                        <p>Para comprar o ticket, é necessário cadastrar-se.</p>
                    </div>
                    <div class="col-12">
                        <label for="nome" title="Obrigatório" pTooltip="Obrigatório">Nome <span style="color: red" >*</span></label>
                        <input pInputText id="nome" fluid formControlName="nome" />
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="cpf"  title="Obrigatório" pTooltip="Obrigatório">CPF  <span style="color: red" >*</span></label>
                        <p-inputmask 
                            id="cpf" 
                            mask="999.999.999-99" 
                            placeholder="999.999.999-99" 
                            [style]="{width: '100%'}" 
                            formControlName="cpf"
                            readonly="true"
                        ></p-inputmask>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="celular"  title="Obrigatório" pTooltip="Obrigatório">Celular  <span style="color: red" >*</span></label>
                        <p-inputmask id="celular" mask="(99) 99999-9999" placeholder="(99) 99999-9999" [style]="{width: '100%'}" formControlName="celular"></p-inputmask>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="uf"  title="Obrigatório" pTooltip="Obrigatório">UF  <span style="color: red" >*</span></label>
                        <div style="display: flex;">
                            <p-select 
                                [options]="estados" 
                                optionLabel="name"
                                optionValue="code"
                                placeholder="Estado" 
                                class="w-full md:w-56"
                                appendTo="body" 
                                formControlName="uf"
                                (onChange)="getMunicipios($event)"
                            />
                            @if (loading) {
                                <p-progress-spinner strokeWidth="6" fill="transparent" animationDuration=".5s" [style]="{ width: '32px', height: '32px' }" />
                            }
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="municipio"  title="Obrigatório" pTooltip="Obrigatório">Municipio  <span style="color: red" >*</span></label>
                        <p-select 
                            [options]="municipios" 
                            optionLabel="name" 
                            optionValue="code"
                            placeholder="Municipio" 
                            class="w-full md:w-56" 
                            appendTo="body" 
                            [filter]="true" 
                            filterBy="name"
                            formControlName="municipio"
                        />
                    </div>
                    <div class="col-12">
                        <label for="email">E-mail</label>
                        <input pInputText id="email" type="email" fluid formControlName="email" />
                    </div>
                    <div class="col-12 text-center">
                        <p-button label="Cadastrar" (click)="cadastrar()" [disabled]="!myForm.valid"/>
                    </div>
                </form>
            }
        </div>
    
</p-dialog>
