.p-inputtext:enabled:focus {
    border-color: blue !important;
}

.p-focus {
    border-color: blue !important;
}

::ng-deep .p-inputmask.p-inputtext:focus {
  border-color: blue;
}

::ng-deep .p-inputtext:enabled:focus {
    border-color: blue !important;
}